<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test2.name %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @test2.temperature %>
</p>

<%= link_to 'Edit', edit_test2_path(@test2) %> |
<%= link_to 'Back', test2s_path %>
